<div class="container" ng-controller="dashboardsController">

  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo heavy">Welcome {{user.name}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a>Dashboard</a></li>
        <li><a href="#/addQuestion/{{id.id}}">Add a Question</a></li>
        <li><a href="#/">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
      <input type="text" class="col s3 offset-s7" placeholder="search" ng-model="searchInput.name">
      <button class="btn" ng-click="applySearch()">Search</button>
  </div>

  <table class="striped">
    <thead>
      <th>question</th>
      <th>answers</th>
      <th>actions</th>
    </thead>
    <tbody>
      <tr ng-repeat="topic in topics | filter: search">
        <td>{{topic.name}}</td>
        <td>{{topic.posts.length}}</td>
        <td><a ng-click="viewTopic(topic._id)">Show</a> | <a ng-click="addAnswer(topic._id)">Answer</a></td>
      </tr>
    </tbody>
  </table>

</div>
