<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Express</title>
</head>
<body>
    <p>Counter: <%= count %></p>
    <form action="/increment" method="post">
        <button type="submit">+2</button>
    </form>

    <form action="/users" method="post">
        Name: <input type="text" name="name" />
        Email: <input type="email" name="email" />
        <button type="submit">Create User</button>
    </form>

    <h1>Users!</h1>

    <% if (true) { %>
        <p>Huzzah!</p>
    <% } %>

    <% for (let user in users) { %>
    <p>Name: <%= users[user].name %></p>
    <p>Email: <%= users[user].email %></p>
    <hr>
    <% } %>
</body>
</html>