<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Sockets</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
        $(function(){
            let socket = io.connect();
            $('#newEvent').click(function(){
                socket.emit('button_clicked', {msg: 'I was sent from the client'})
                
            })
            socket.on('button_response', (data) => {
                $('#notes').append(`<h3>${data.msg}</h3>`);
            })
        })
    </script>
</head>
<body>
    <div>
        <button id="newEvent">Emit an Event</button>
    </div>
    <div id="notes">

    </div>
</body>
</html>