<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1><%= user.first_name %>'s Page</h1>

    Name: <%= user.first_name %> <%= user.last_name %>

    <form action="/quotes" method="post">
        <input type="hidden" name="_user" value="<=% user._id %>">
        Name: <input type="text" name="name" />
        Content: <textarea name="content"></textarea>

        <button type="submit">Submit Quote</button>
    </form>
</body>
</html>